        <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    Serdar Kalkan @2018. All Rights Reserved
                </div>
        </div>
    </body>    
</html>